@page "/"

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<PageTitle>Test Page</PageTitle>

<br/>
<br/>

<ul>
    @if (inventories is not null && inventories.Count > 0)
    {
        foreach (var inventory in inventories)
        {
            <li>@inventory.Name</li>
        }
    }
    else
    {
        <p>No inventory matched your search.</p>
    }
</ul>

@code
{
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }
}
