@page "/add-inventory"

@inject IAddInventoryUseCase AddInventoryUseCase
@inject NavigationManager NavigationManager

<h3>AddInventory</h3>
<br/>

<EditForm Model="inventory" FormName="formInventory" OnValidSubmit="SaveAsync">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" class="form-control" @bind-Value="inventory.Name"></InputText>
        <ValidationMessage For="() => inventory.Name"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <InputNumber id="quantity" class="form-control" @bind-Value="inventory.Quantity"></InputNumber>
        <ValidationMessage For="() => inventory.Quantity"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <InputNumber id="price" class="form-control" @bind-Value="inventory.Price"></InputNumber>
        <ValidationMessage For="() => inventory.Price"></ValidationMessage>
    </div>
    <br/>
    <button type="submit" class="btn btn-outline-primary">Save</button>
    &nbsp;
    <a href="/inventories" class="btn btn-outline-danger">Cancel</a>
</EditForm>

@code {

    [SupplyParameterFromForm]
    private Inventory inventory
    {
        get;
        set => field = value ?? new();
    } = new();

    private async Task SaveAsync()
    {
        await AddInventoryUseCase.ExecuteAsync(inventory);
        NavigationManager.NavigateTo("/inventories");
    }

}
