@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
        @if (inventories is not null && inventories.Count > 0)
        {
            foreach (var inventory in inventories)
            {
                <InventoryListItemComponent Inventory="inventory"></InventoryListItemComponent>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No inventory item matched your search.</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    private List<Inventory>? inventories;

    [Parameter] 
    public string? SearchInventoryFilter { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync(SearchInventoryFilter ?? string.Empty)).ToList();
    }
}
