@if (Inventory is not null)
{
    <tr>
        <td>@Inventory.Name</td>
        <td>@Inventory.Quantity</td>
        <td>@Inventory.Price.ToString("C")</td>
        <td>
            <a href="/edit-inventory/@Inventory.Id" class="btn btn-outline-primary">Edit</a>
        </td>
    </tr>
}

@code {

    [Parameter]
    public Inventory? Inventory { get; set; }
}
