@inject IViewProductsByNameUseCase ViewProductsByNameUseCase

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
        @if (products is not null && products.Count > 0)
        {
            foreach (var product in products)
            {
                <ProductListItemComponent Product="product"></ProductListItemComponent>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No products matched your search.</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    private List<Product>? products;

    [Parameter] 
    public string? SearchProductFilter { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        products = (await ViewProductsByNameUseCase.ExecuteAsync(SearchProductFilter ?? string.Empty)).ToList();
    }
}
