@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<div class="input-group">
    <input id="name"
           class="form-control"
           @bind-value="searchFilter"
           @bind-value:event="oninput"
           placeholder="Search"/>

    <button type="button" class="btn btn-outline-primary" @onclick="Search">Search</button>
</div>

@if (inventories is not null && inventories.Count > 0)
{
    <div class="search-result">
        <ul>
            @foreach (var inventory in inventories)
            {
                <li @key="inventory.Id">@inventory.Name</li>
            }
        </ul>
    </div>

}

@code {

    private string? searchFilter
    {
        get;
        set
        {
            field = value;
            Search();
        }
    }

    private List<Inventory>? inventories = [];

    private async Task Search()
    {
        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync(searchFilter)).ToList();
        StateHasChanged();
    }
}
